table 
	{
	width: 100%;

/*   border: 1px solid black;   */
	}

table tr td
	{
	vertical-align: top; 
	}

#title
	{
	font-size: 16pt;
	}

#header
	{
	text-align: right;
	}

#create_date
	{
	color: #ccc;
	font-size: 9pt;
	}

td.department	
	{
	font-size: 13pt;
	padding-top: 15px;	
	padding-left: 0px;
	}
div.department	
	{
	color: #353535;
	}

td.name
	{
	width: 25%;
border-style: dashed;	
padding-left: 3px;
	}

.surname
	{
	font-size: 11pt;
	}

.patronymic
	{
	font-size: 9pt;
	border: 0px solid red;
	}

td.internal_phone
	{
	width: 7%;
	font-size: 9pt;
	white-space:nowrap;
	padding-left: 3px;
	text-align: center;
	}

td.cell_phone
	{
	font-size: 9pt;
	white-space:nowrap;
	text-align: right;
	}	
td.mail
	{
	font-size: 9pt;
	text-align: center;
	}	

td.city_phone
	{
	font-size: 9pt;
	white-space:nowrap;
	text-align: center;
	}

td.home_phone
	{
	font-size: 9pt;
	white-space:nowrap;
	text-align: center;
	}

td.position
	{
	width: 17%;
	font-size: 9pt;
	padding-left: 3px;
	}

td.birth
	{
	width: 9%;
	font-size: 8pt;
	padding-right: 1px;
	text-align: center;
	}

table.staff tr td
	{
	padding-right: 15px;
	}

